/*
 * Use CSS Grid to divide page into 32 rows and 18 columns. These numbers are used
 * because they are multiples of the 16:9 aspect ratio. I think that makes sense.
 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(36, 1fr);
    height: 100vh;
    width: 100vw;
    background-color: #f4f3f3;
}

#app-header {
    text-align: center;
    grid-row: 1 / 5;
    grid-column: 2 / 32;
    background-color: #333333;
    color: white;
}

#header-title {
    display: inline-block;
    color: white;
}

#search-header {
    grid-row: 2 / 5;
    grid-column: 10 / 32;
    color: black;
    background-color: #ffff00;
}

#search {
    grid-row: 5 / 8;
    grid-column: 10 / 32;
    background-color: #ff0000;
    color: white;
}

#city {
    height: 60%;
    width: 40%;
    border-radius: 6px;
    margin-left: 4px;
}

#state {
    width: 20%;
}

#left-header {
    grid-row: 5 / 8;
    grid-column: 2 / 9;
    background-color: #00ffff;
    color: black;
}

#left-box {
    grid-row: 8 / 36;
    grid-column: 2 / 9;
    background-color: #00ff00;
    color: black;
}

#right-box {
    grid-row: 8 / 36;
    grid-column: 10 / 32;
    background-color: #0000ff;
    color: white;
}

.btn-secondary {
    width: 25%;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block {
    width: 18%;
    height: 60%;
}

#map {
    height: 99%;
    width: 99%;
    
}
