/*
 * Use CSS Grid to divide page into 32 rows and 18 columns. These numbers are used
 * because they are multiples of the 16:9 aspect ratio. I think that makes sense.
 */
.grid-container {
        display: grid;
        grid-template-rows: repeat(32, 1fr);
        grid-template-columns: repeat(18, 1fr);
        height: 100vh;
        width: 100vw;
        background-color: #f4f3f3;
}

#search {
    grid-row: 2 / 3;
    grid-column: 3 / 30;
    background-color: #ff0000
}

#left-box {
    grid-row: 4 / 17;
    grid-column: 2 / 9;
    background-color: #00ff00;
}

.right-box {
    grid-row: 4 / 17;
    grid-column: 10 / 30;
    background-color: #0000ff;
}
