<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>Path Finder</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + cssFile) }}">
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <link async defer rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin=""/>
        <script async defer src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin=""></script>
        {% endblock %}
    </head>

    <body>

        {% block body %}
        <div id="app" class="grid-container app-container">
            {% block header %}
            <div id="app-header">
                <div id="header-title" class="vertical-center">
                    <h1>Path Finder</h1>
                </div>
            </div>
            {% endblock %}

            {% block search %}
            <div id="search">
                <input id="city" type="text" class="vertical-center" placeholder="Enter City Name">
                <select id="state" class="vertical-center">
                    {% for state in states %}
                    <option value="{{ state }}">{{ state }}</option>
                    {% endfor %}
                </select>

                <btn id="find-path" class="btn btn-primary vertical-center block">
                    <p class="vertical-center">Find Path</p>
                </btn>

                <btn id="saved-trails" class="btn btn-primary vertical-center block">
                    <p class="vertical-center">Saved Trails</p>
                </btn>
            </div>
            {% endblock %}

            {% block left %}
            <div id="left-header">
                <p>Details</p>
            </div>
            <div id="left-box">
                <p>Find a path to view the details here!</p>
            </div>
            {% endblock %}

            {% block right %}
            <div id="right-box">

            </div>
            {% endblock %}

        </div>
        {% endblock %}
    </body>
</html>
