{% extends "base.html" %}

{% block head %}
{{ super() }}
<!-- These may not need be here but I am afraid of deleting them right now. -->
<link async defer rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>
<script async defer src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
{% endblock %}

{% block body %}
{{ super() }}
<!-- Get those nice scripts going! -->
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/renderMap.js') }}"></script>
<script src="{{ url_for('static', filename='js/left-div.js') }}"></script>
<script src="{{ url_for('static', filename='js/renderBucketList.js') }}"></script>
{% endblock %}
