<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Path Finder</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    </head>
    <body>
        <div id="app" class="grid-container app-container">
            <div id="app-header">
                <div id="header-title">
                    <h1>Path Finder</h1>
                </div>
            </div>

            <div id="search-header">
                <p>Search Header</p>
            </div>
            <div id="search">
                <p>Search</p>
            </div>

            <div id="left-header">
                <p>Left Header</p>
            </div>
            <div id="left-box">
                <p>Left Box</p>
            </div>

            <div id="right-box">
                <p>Right Box</p>
            </div>
        </div>
    </body>
</html>
