<div id="app-header">
    <div id="header-title" class="vertical-center">
        <h1>Path Finder</h1>
    </div>
</div>

<div id="search">
    <input id="city" type="text" class="vertical-center" placeholder="Enter City Name">
    <select id="state" class="vertical-center">
        {% for state in states %}
        <option value="{{ state }}">{{ state }}</option>
        {% endfor %}
    </select>

    <btn id="find-path" class="btn btn-secondary vertical-center block">
        <p class="vertical-center">Find Path</p>
    </btn>

    <btn id="saved-trails" class="btn btn-secondary vertical-center block">
        <p class="vertical-center">Saved Trails</p>
    </btn>
</div>

<div id="trail-list">
    <table>
        <th></th>
        {% for trail in bucket_list %}
        <tr>
            <td>
                {{ trail['Name'] }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
